<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSettings" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="TestSettingsMissingClass" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="MissingSection" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="NoSetup" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="InconvertibleType" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="InconvertibleFromString" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    <section name="UnexpectedItemInList" type="SmartConfig.SmartConfigSectionHandler, SmartConfig" />
    
  </configSections>
  <TestSettings integerSetting="314" 
                boolSetting="true" 
                decimalSetting="3.14"
                testEnum="EnumValue1"
                type="System.String">
    <!-- Testing that our configuration engine is ok with comments-->
    <TestOverride override="1" decimalSetting="1.27" />    
    <InternalObject someField="Original">
      <!--May the Force be with this settings engine-->
      <TestOverride override="1" someField="Overridden" />
    </InternalObject>
    <InternalObjectsList>
      <!-- Comment in List is also ok-->
      <InternalObject someField="One" />
      <InternalObject someField="Two" />
      <InternalObject someField="Three" >
        <TestOverride /> <!--will be ignored-->>
        <TestOverride someField="Five"/> <!--will be ignored-->>
        <TestOverride override="1" someField="Four" />
      </InternalObject>
    </InternalObjectsList>
  </TestSettings>

  <TestSettingsMissingClass integerSetting="314"
              boolSetting="true"
              decimalSetting="3.14"
              testEnum="EnumValue1">
    <InternalObjectsList>
      <InternalObject someField="One" />
    </InternalObjectsList>
  </TestSettingsMissingClass>
  
  <NoSetup someField="1"/>
  <InconvertibleType type="System.Abrakadabra"/>
  <InconvertibleFromString field="Doesn't matter what"/>

  <UnexpectedItemInList>
    <list>
      <item someField="1"/>
      <wrongItem someField="1" />
    </list>
  </UnexpectedItemInList>
  
</configuration>